@import "./_fonts.css";
@import "./_reset.css";
@import "./_color.css";

body {
  padding-top: 80px;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  min-height: 100vh;
  font-size: 16px;
}

.rpl-error-message {
  color: var(--error);
}
