header {
  background-color: #f2f2f2;
  padding: 20px;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

img {
  margin-right: 40px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #333;
}
